.navbar {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  min-width: 200px;
  height: 100vh;
  background: white;
}

.navbar a {
  text-decoration: none;
  font-size: 1.7em;
  padding: 10px;
}

#title {
  background: black;
  color: white;
  line-height: 0%;
}
#title h1 {
  font-weight: 200;
}

.active-link {
  background: #008ad3;
  color: white;
}

.active-link-favorite {
  background: #cc0001;
  color: white;
}
